<div id="footer_partial">
    <span class="footer_item">
	    <a href="/">Home</a>
    </span>

    <span class="footer_item">
        Created by:
        <a href="https://www.linkedin.com/in/adam-svetec/" target="_blank">Adam Svetec</a>,
        <a href="https://www.linkedin.com/in/aaron-rotem-0652b0108/" target="_blank">Aaron Rotem</a>,
        <a href="https://www.linkedin.com/in/harrison-sommer-1a1b42109/" target="_blank">Harrison Sommer</a>
    </span>
</div>