<!DOCTYPE html>
<HTML>
  <head>
    <link rel="stylesheet"  href="/stylesheets/index.css">
    <link rel="stylesheet" href="/stylesheets/common.css">
    <script src="/js/packages/jquery-3.1.1.min.js"></script>
    
    <script src="/js/packages/jquery.rateyo.min.js"></script>
    <link rel="stylesheet" href="/stylesheets/packages/jquery.rateyo.min.css">
    
    <script src="/js/packages/jquery-ui.min.js"></script>
    <link rel="stylesheet" href="/stylesheets/packages/jquery-ui.min.css">
    <title>Lehigh U Housing</title>
  </head>
  <body>
    <div id="container">
      <%- include partials/header %>
      <div id="filter_bar">
        <div id="bedroom_filter">
          <label for="bedroom-spinner">Bedrooms:</label>
          <input id="bedroom-spinner" name="value" value="5">
        </div>
        <div id="price_filter">
          <label for="amount" id="price_label">Price range:</label>
          <input type="text" id="amount" readonly style="border:0; color:#f6931f; font-weight:bold;">
          <div id="slider-range"></div>
        </div>
        <div class="year_filter">
          <label for="year_selection">Year:</label>
          <select name="year_selection" id="year_selection">
            <% var year = new Date().getFullYear(); %>
            <option selected="selected"><%=""+(year)+"-"+(year+1)%></option>
            <% for (var i = 1; i < 3; i++) { %>
              <option><%=""+(year+i)+"-"+(year+i+1)%></option>
            <% } %>
          </select>
        </div>
      </div>
      <div id="map"></div>
      <%- include partials/footer %>
    </div>
  </body>
  <script src="/js/index.js"></script>
</HTML>