<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/stylesheets/common.css">
  </head>
  <body>
  	<div id="container">
      <%- include partials/header %>
      <h1><%= message %></h1>
      <h2><%= error.status ? error.status : "" %></h2>
      <%- include partials/footer %>
    </div>
  </body>
</html>