#filter_bar{
    width: 100%;
    margin-bottom: 10px;
    text-align:center;
}

#bedroom_filter, #price_filter, #year_filter{
    float: left;
    width: 33%;
}

#bedroom-spinner{
    width: 20px;
}

#map {
    height: 400px;
    width: 100%;
}

#slider-range{
    height: 0.4em !important;
    margin-top: 5px;
}

.ui-slider-handle { 
    height: 0.9em !important;
}
.ui-widget-content{
    background-color: #f6f6f6 !important;
}

#year_selection-button{
    width: 110px;
}